body{
    background-image: linear-gradient( lightgreen, lightskyblue) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightskyblue;
}
.icon{
    width: 20px;
    height: 20px;
    padding-top: 3px;
}
.enter{
    display: flex;
}
#input{
    width: 400px;
    height: 30px;
}

button{
    width: 40px;
    height: 35px;
}
.container{
    border: 2px double mediumslateblue;
    background-color: whitesmoke;
    margin: 20px;
    padding: 20px;
}
li{
    list-style-type: none;
}


