body{
    background-image: linear-gradient( lightgreen, lightskyblue);
    background-size: cover;
    background-repeat: no-repeat;
}
.icon{
    width: 20px;
    height: 20px;
}

button{
    width: 40px;
    height: 30px;
}
#container{
    border: 2px double mediumslateblue;
    background-color: whitesmoke;
    margin: 20px;
    padding: 20px;
}
li{
    list-style-type: none;
}
.todo{
    border: 2px double mediumslateblue;
    background-color: whitesmoke;
    margin: 20px;
    padding: 20px;
}